<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descuento</th>
            <th>Valor</th>
            <th>Valor Total</th>
            <th>Categoria</th>
            <th>Marca</th>
            <th>Cadena</th>
            <th>Fabricante</th>
            <th>Desde</th>
            <th>Hasta</th>
        </tr>
    </thead>
    <tbody>
        <% for (var i=0; i < sales.length; i++) { %>
            <% var sale = sales[i] %>
                <tr>
                    <td>
                        <%= sale.title %>
                    </td>
                    <td>
                        <%= sale.discount_type %>
                    </td>
                    <td>
                        <%= sale.value %>
                    </td>
                    <td>
                        <%= sale.value_final %>
                    </td>
                    <td>
                        <%= sale.category %>
                    </td>
                    <td>
                        <%= sale.brand %>
                    </td>
                    <td>
                        <%= sale.chain %>
                    </td>
                    <td>
                        <%= sale.manufacturer %>
                    </td>
                    <td>
                        <%= sale.date_from %>
                    </td>
                    <td>
                        <%= sale.date_to %>
                    </td>
                </tr>
                <% } %>
    </tbody>
</table>
